* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.container {
    max-width: 100%;
}

body {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding: 30px;
}