* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 12px;
}

.container {
    width: 100%;   
}

body {
    background-color: white;
}

.boxblue {
    background-color: navy;
    width: 100%;
    padding: 40px;
}

.boxlight {
    background-color:floralwhite;
    width: 100%;
    padding: 40px;
}

.boxslate {
    background-color:darkslategray; 
    width: 100%;
    height: auto;
}

h1 {
    color: cornflowerblue;
    font-size: 36px;
    font-weight: bold;
    padding: 30px;
}

.main-text {
    padding: 20px;
    font-size: 10pt;
    margin: 0 25px 0 25px;
}

.dark {
   color:darkslategrey;
}

.subtext {
    color: cornflowerblue;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.fullchart {
    padding: 30px;
    max-width: 800px;
}
