* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 12px;
}

.container {
    max-width: 900px;
    width: 100%;
}

body {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding: 30px;
}

.chart1 {
    max-width: 35vw;
    max-height: 35vw;

}

.chart2 {
    max-width: 40vw;
    max-height: 50vw;
}